.flag-wrapper {
  display: flex;
  cursor: pointer;
  align-items: center;
  height: 34px;
  &.active {
    cursor: not-allowed;
    filter: opacity(0.5);
  }

  &.item {
    height: unset;
  }

  .anticon-caret-down {
    font-size: $base-font-size;
  }

  .lang {
    margin-right: 8px;
    font-size: $base-font-size;
  }
  &.popover {
    margin-top: 5px;
    .flag {
      margin-left: auto;
    }
  }
  .flag {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: "RED";
    img {
      width: 16px;
      height: 12px;
    }
  }
}
