.flag-wrapper {
  display: flex;
  cursor: pointer;
  align-items: center;
  height: 34px;
  &.active {
    cursor: not-allowed;
    filter: opacity(0.5);
  }

  &.item {
    height: unset;
  }

  .anticon-caret-down {
    font-size: $base-font-size;
    margin-left: 2px;
  }

  .lang {
    margin-right: 8px;
    font-size: $base-font-size;
    width: max-content;
  }
  &.popover {
    margin-top: 5px;
    .flag {
      margin-left: auto;
    }
  }
  .flag {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: $bg-layout-fb;
    .flag-icon {
      width: 22px;
      height: 18px;
    }
  }
}
