.title-top-right {
  padding: 50px 20px 0px 50px;
  &__title.ant-typography {
    font-size: 50px;
    font-weight: 720;
    color: $primary-color-bold;
  }
  &__title-wellcome.ant-typography {
    font-size: 20px;
    margin-bottom: 7%;
    color: $primary-color-bold;
  }
  &__title-description.ant-typography {
    font-size: 20px;
    margin-bottom: 5%;
    color: $black-color;
  }
  &--button {
    width: 210px;
    text-align: center;
  }
  &__icon-group {
    position: relative;
    &--item {
      font-size: 30px;
      padding: 15px;
      margin-right: 15px;
      cursor: pointer;
      border-radius: 50%;
      background-color: $primary-color-bold;
      > svg {
        color: white;
      }
      &:hover {
        background-color: $purple-color-bold;
        box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
      }
    }
  }
  &__icon-group-detail {
    margin-top: 1%;
    position: relative;
    margin-bottom: 7%;
    div &--process-circle {
      margin: 0px 30px 10px 0px;
      &__value {
        display: block;
        color: $primary-color-bold;
        font-weight: 600;
      }
      &__title {
        display: block;
        color: $black-color;
        font-size: 18px;
        font-weight: 400;
      }
    }
  }
  &--button {
    margin-top: 7% !important;
  }
}
.ant-carousel .slick-slide {
  text-align: center;
  height: 160px;
  line-height: 160px;
  background: #364d79;
  overflow: hidden;
}

.ant-carousel .slick-slide h3 {
  color: #fff;
}
.container-ld {
  margin-top: 5%;
  position: relative;
  margin-bottom: 4%;
  .container-ld__content_center{
    max-width: 80%;
    flex: 0 0 80%;
  }

  &--col-padding{
    padding: 0 2%;
  }
  &--rows {
    width: 100%;
    > div {
      margin-bottom: 30px;
    }
    &__col-one {
      margin-top: 20px;
      background-color: $primary-color-bold;
      // box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
      box-shadow: 1px 0rem 1rem 0px rgba(0, 0, 0, 0.075);
      &:hover {
        box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
      }
      color: white;
      height: 100%;
      border-radius: 30px;
      &--item {
        text-align: center;
        &__icon {
          margin: 20px 10px;
          background-color: white;
          font-size: 35px;
          padding: 20px;
          border-radius: 50%;
          > svg {
            color: $primary-color-bold;
          }
        }
      }
      &--content {
        text-align: center;
        &__title.ant-typography {
          color: $white-color;
          font-size: 18px;
          font-weight: 800;
        }
        &__description.ant-typography {
          padding: 0px 10px 15px 10px;
          color: $white-color;
          font-size: 14px;
          word-break: break-all;
        }
      }
    }
    &__col-two {
      @extend .container-ld--rows__col-one;
      background-color: white;
      color: black;
      margin-bottom: 20px;
      &--item {
        text-align: center;
        &__icon {
          @extend .container-ld--rows__col-one--item__icon;
          background-color: $primary-color-bold;
          > svg {
            color: $white-color;
          }
        }
      }
      &--content {
        text-align: center;
        &__title.ant-typography {
          color: $black-color;
          font-size: 18px;
          font-weight: 800;
        }
        &__description.ant-typography {
          @extend .container-ld--rows__col-one--content__description;
          color: $black-color;
        }
      }
    }
    // &__course-wrapper{
    //   display: flex;
    // }
    //&__col-course {
      // display: inline-block !important;
      // width: 100%;
      // &--content-left {
      //   width: 90%;
      //   position: relative;
      //   float: right;
      //   line-height: 21px;
      //   &__office {
      //     color: $white-color;
      //     font-weight: 700;
      //     font-size: 25px;
      //     text-align: left;
      //     word-wrap: break-word;
      //   }
      //   &__content {
      //     @extend .container-ld--rows__col-course--content-left__office;
      //     font-size: 12px;
      //     margin-top: 25px;
      //   }
      // }
      // &--content-left-position {
      //   width: 65%;
      //   left: 25%;
      //   top: 130px;
      //   position: absolute;
      // }
      //&--content-right {
        // width: 100%;
        // padding-top: 40px;
        // &__wrapper {
        //   display: inline-block;
        //   width: 90%;
        //   height: 420px;
        //   background-color: $white-color;
        //   box-shadow: 12px 12px 11px rgba(33, 33, 33, 0.2);
        //   border-radius: 30px;
        // }
        // &__timeline-detail {
        //   padding: 30px 10px 10px 10px;
        //   text-align: left;
        //   &--label {
        //     font-weight: 700;
        //   }
        // }
        // &__maxim-wrapper {
        //   line-height: 20px;
        //   padding: 0px 10px;
        // }
        // &__description {
        //   display: none;
        // }
        // &__avatar {
        //   position: relative;
        //   width: 100%;
        //   > img {
        //     top: 30px;
        //     position: inherit;
        //     width: 60%;
        //     box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
        //     margin-left: 20%;
        //     border-radius: 50%;
        //   }
        // }

        // &__name {
        //   margin-top: 45px;
        //   text-align: center;
        //   font-weight: 700;
        //   font-size: 25px;
        //   line-height: normal;
        //   margin-bottom: 15px;
        // }
        // &__icon-social {
        //   line-height: normal;
        //   margin-left: 8px;
        //   &--item {
        //     @extend .title-top-right__icon-group--item;
        //     font-size: 22px;
        //     padding: 10px;
        //     margin-right: 6px;
        //     > svg {
        //       color: $white-color;
        //     }
        //   }
        // }
      //}
    //}
    // &__course {
    //   margin-top: 100px;
    //   .slick-list{
    //     height: 530px;
    //   }
    // }
  }
  &--title.ant-typography {
    font-size: 25px;
    color: $primary-color-bold;
    text-align: center;
    font-weight: 700;
    margin-top: 40px;
    margin-bottom: 30px;
  }
}

.ant-carousel .slick-slide {
  background-color: $primary-color-bold;
}

.ant-progress-inner:not(.ant-progress-circle-gradient)
  .ant-progress-circle-path {
  stroke: $primary-color-bold !important;
}

.home-item-menu-active {
  color: white !important;
  background-color: $primary-color-bold;
}

div.ant-popover-inner {
  border-radius: 5px;
}

.rp-mobie {
  display: none !important;
}

.rp-web {
  display: flex !important;
}
.buton-col-6 {
  width: 25%;
}
.img-background {
  &--top {
    width: 100%;
  }
}
.header {
  &__icon {
    padding: 20px;
    font-size: 25px;
    box-shadow: 1px 0 4px #ddd;
  }
  &__language{
    >ul{
      border-radius: 10px;
      overflow: hidden;
      padding: 0px;
      box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08);
      >li{
        color: $primary-color-bold;
        font-weight: 500;
      }
    }
  }
  &__active-language{
    height: 100%;
    background-color: #95a5ff5c;
  }
  &__web {
    width: 100%;
    padding: 5px 30px 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &--display-web {
      display: flex;
    }
    &--display-mobie {
      display: none;
      &--icon > svg {
        color: $primary-color-bold;
        font-size: 30px;
      }
    }
    &--menu {
      > ul {
        list-style-type: none;
        margin: 0;
        width: auto;
        padding: 0;
        text-overflow: ellipsis;
        overflow: hidden;
        > li {
          margin-right: 20px;
          float: left;
          > a {
            display: block;
            color: $primary-color-bold;
            text-align: center;
            font-weight: 550;
            padding: 11px 15px;
            border-radius: 150px;
            border: solid 1px $primary-color-bold;
            text-decoration: none;
            &:hover {
              color: white;
              background-color: $purple-color-bold;
              border: solid 1px $purple-color-bold;
            }
          }
          >p.dropdown-language {
            margin-top: 15px;
            cursor: pointer;
            color: $primary-color-bold;
            font-weight: 550;
            >span{
              font-size: 15px;
            }
          }
        }
      }
      &--icon {
        margin-right: 7px;
        font-size: 15px;
      }
    }
  }
}

@media (max-width: 1024px){
  .title-top-right__icon-group-detail--container{
    width: max-content;
  }
}

@media (max-width: 768px) {
  .title-top-right {
    &__icon-group {
      text-align: center;
      &--item {
        font-size: 15px;
        margin: 0 5px;
      }
    }
    &__icon-group-detail{
      &--container{
        width: max-content;
        margin: auto;
      }
      div &--process-circle {
        margin: 0px 25px 20px 25px;
      }
    }
    &--button {
      text-align: center;
    }
    &__title.ant-typography {
      font-size: 40px;
      text-align: center;
    }
    &__title-wellcome{
      text-align: center;
    }
    &__title-description.ant-typography {
      font-size: 12px;
    }
  }
  .container-ld {
    &--rows {
      &__col-one{
        &--item {
          text-align: center;
          &__icon {
            font-size: 20px;
            padding: 15px;
          }
        }
      }
      // &__col-course {
      //   &--content-right {
      //     &__maxim-wrapper {
      //       display: none;
      //     }
      //     &__description {
      //       margin-top: 25px;
      //       display: block;
      //       line-height: 20px;
      //     }
      //   }
      //   &--content-left-position {
      //     left: 10%;
      //     line-height: 23px;
      //   }
      // }
    }
  }
  .header {
    display: flex;
    &__web {
      &--menu {
        margin-right: -70px;
      }
      > img {
        margin-left: -50px;
      }
    }
  }
}

@media (max-width: 414px) {
  .rp-mobie {
    display: inline !important;
  }
  .rp-web {
    display: none !important;
  }
  .title-top-right {
    padding: 40px 10px 0px 10px;
    &__title.ant-typography {
      font-size: 25px;
      font-weight: 720;
      color: $primary-color-bold;
    }
    &__icon-group-detail{
      &--container{
        width: 100%;
        margin: auto;
      }
    }
    &__icon-group-detail {
      &--container {
        text-align: center;
      }
    }
  }
  .container-ld {
    &--rows {

      // &__col-course {
      //   &--content-right {
      //     &__maxim-wrapper {
      //       display: none;
      //     }
      //     &__description {
      //       margin-top: 25px;
      //       display: block;
      //       line-height: 20px;
      //     }
      //   }
      //   &--content-left {
      //     &__content {
      //       display: none;
      //     }
      //     &__office {
      //       text-align: center;
      //     }
      //   }
      //   &--content-left-position {
      //     left: 10%;
      //     line-height: 30px;
      //     top: 100px;
      //   }
      // }
      // &__course{
      //   .slick-list{
      //     height: 700px;
      //   }
      // }
      &__col-one{
        &--item {
          text-align: center;
          &__icon {
            font-size: 30px;
            padding: 15px;
          }
        }
      }
    }
  }
  .header {
    display: flex;
    &__web {
      width: 100%;
      padding: 0 10px 0 1px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      &--display-web {
        display: none;
      }
      > img {
        margin-left: -15%;
        margin-top: 2%;
      }
      &--display-mobie {
        display: flex;
        margin-right: -15%;
      }
    }
  }
  .container-ld {
    &--title.ant-typography {
      font-size: 25px;
      font-weight: 600;
    }
  }
}
