.layout-web {
  background-color: transparent !important;

  .ant-layout-header {
    padding: 0;
    transition: position 1s;
    background-color: transparent;
  }
}

.title-top-right {
  padding: 30px 50px 0px 50px;

  &__title.ant-typography {
    font-size: 34px;
    font-weight: 720;
    color: $primary-color-bold;
  }

  &__title-wellcome.ant-typography {
    font-size: 18px;
    margin-bottom: 35px;
    color: $primary-color-bold;
  }

  &__title-description.ant-typography {
    font-size: 14px;
    margin-bottom: 35px;
    color: $black-color-light;
  }

  &--button.ant-btn{
    width: 210px;
    height: 40px;
    text-align: center;
  }

  &__icon-group {
    position: relative;

    &--item {
      font-size: 25px;
      padding: 13px;
      margin-right: 15px;
      cursor: pointer;
      border-radius: 50%;
      background-color: $primary-color-bold;

      >svg {
        color: white;
      }

      &:hover {
        background-color: $purple-color-bold;
        box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
      }
    }
  }

  &__icon-group-detail {
    margin-top: 1%;
    position: relative;
    margin-bottom: 35px;

    div &--process-circle {
      margin: 0px 30px 10px 0px;

      div.ant-progress-inner {
        width: 90px !important;
        height: 90px !important;
        font-size: $base-font-title;
      }

      &__value {
        display: block;
        color: $primary-color-bold;
        font-weight: 600;
        font-size: 18px;
      }

      &__title {
        display: block;
        color: $black-color;
        font-size: $base-font-size;
        font-weight: 400;
      }
    }
  }

  &--button {
    font-size: 14px;
    font-weight: 700;
    margin-top: 7% !important;
  }
}

.tech-stack {
  margin: 30px 0;

  &--wrapper {
    position: relative;
    margin-bottom: 20px;
  }

  &--col-image {
    width: 150%;
    position: absolute;
    margin-top: 50px;
  }

  &--title {
    width: 90%;
    margin: auto;
    margin-bottom: 20px;
    text-align: left;
    font-size: $base-font-large;
    color: $primary-color-bold;
    font-weight: 700;
    word-break: break-word;
  }

  &--item-title {
    font-size: 20px;
    font-weight: 600;
    color: $black-color;
  }

  &--item-description {
    cursor: pointer;

    &:hover {
      color: $purple-color-bold;
    }
  }

  &--col-stack {
    width: 24%;
    margin-bottom: 8px;
    border-radius: 10px;
    border: solid 1.2px $primary-color-bold;
    height: auto;
    transition: box-shadow 0.5s;

    &__img {
      width: 100%;
      padding: 15%;
    }

    &:hover {
      box-shadow: $box-shadow-primary;
    }
  }

  &--col-wrapper {
    margin-bottom: 15px;
  }

  &--row {
    width: 90%;
    margin: auto;
  }
}

.my-footer {
  padding: 24px 50px 0 50px !important;
  position: relative;
  overflow: hidden;
  background: $white-color !important;
  border-top: 1px solid #ddd;
  box-shadow: 3px 3px 3px 3px #ddd;

  &__wrapper-copyright {
    position: absolute;
    background-color: $primary-color-bold;
    text-align: center;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
    bottom: -45px;
    padding: 25px 0;
    border-radius: 150px;
    color: $white-color;
    box-shadow: 12px 12px 11px rgba(33, 33, 33, 0.2);

    &--content {
      font-size: 14px;
      line-height: 14px;
      margin-bottom: 27px;
      margin-top: -15px;
    }
  }

  &__content {
    margin-bottom: 40px !important;
  }

  &__google-map {
    >iframe {
      width: 100%;
      height: 150px;
      border-radius: 15px;
      border: solid 2px $white-color;
    }
  }

  &__col-wrapper {
    text-align: left;
    font-size: $base-font-title;

    &--title {
      font-weight: 700;
    }

    &--label {
      margin-top: 3px;

      >a,
      a:active {
        color: $black-color;
      }

      >a:hover {
        color: $primary-color-bold;
      }

      &:hover {
        cursor: pointer;
        color: $primary-color-bold;
      }
    }

    &--icon {
      margin-top: 8px;
      font-size: 22px;
      margin-right: 18px;
      transition: box-shadow 0.1s;

      &:hover {
        box-shadow: 1px 0rem 1rem 0px rgba(0, 0, 0, 0.075);
        cursor: pointer;
        color: $primary-color-bold;
      }
    }
  }

  &__image {
    float: left !important;
    width: 30%;
    margin-top: -2%;
  }
}

.ant-layout-footer {
  color: $black-color !important;
}

.ant-carousel .slick-slide {
  text-align: center;
  height: auto;
  line-height: 160px;
  overflow: hidden;
}

.ant-carousel .slick-slide h3 {
  color: #fff;
}

// .ld-process {
//   .ant-timeline-item-head {
//     .anticon-sync {
//       color: $primary-color-bold;
//     }
//   }
//   &--text {
//     > label {
//       font-size: $base-font-title;
//       color: $black-color;
//       font-weight: 700;
//     }
//     > p {
//       font-size: $base-font-size;
//     }
//   }
//   .ant-timeline-item {
//     width: 90%;
//     margin: auto !important;
//   }
//   &--item {
//     margin-top: 15px;
//     display: -webkit-inline-box;
//   }
//   &--icon-timeline {
//     width: 61px;
//     padding: 7px;
//     border: solid 1.2px $primary-color-bold;
//     border-radius: 10px;
//     margin: 0 15px;
//     transition: box-shadow 0.5s;
//     > svg {
//       color: $white-color;
//     }
//     &:hover {
//       box-shadow: $box-shadow-primary;
//     }
//   }
//   &--item-2 {
//     @extend .ld-process--item;
//   }
// }

.back-top {
  font-size: 22px;
  padding: 8px;
  border: solid 2px $primary-color-bold;
  border-radius: 50%;

  >svg {
    color: $primary-color-bold;
  }

  &:hover {
    border-radius: 50%;
    background-color: $primary-color-bold;

    >svg {
      color: white;
    }
  }
}

div.back-top-wrapper {
  right: 30px;
  bottom: 25px;
}


.team-carouse {
  margin-bottom: 40px;
  position: relative;

  &--wrapper {
    width: 80%;
    flex: none !important;
    max-height: 280px;
    margin: auto;
    box-shadow: $box-shadow-primary;
    margin-top: 100px;
    margin-bottom: 30px;
    background-color: $white-color;
  }

  &--img {
    box-shadow: $box-shadow-primary;
    position: absolute;
    padding: 2px;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    left: calc(50% - 60px);
    top: -60px;
  }

  &--text-wrapper {
    padding: 0 30px;
    text-align: center;
    margin-top: 80px;
    line-height: 30px;

    &__title {
      font-size: 22px;
    }

    &__job {
      font-size: 14px;
      color: $primary-color-bold;
    }

    &__des {
      margin-top: 5px;
      font-size: 16px;
    }
  }

  .ant-carousel .slick-slide {
    line-height: 100px;
  }

  .ant-carousel .slick-dots li button {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: solid 1px $primary-color-bold;
  }

  ul.slick-dots-bottom {
    bottom: -10px;
  }

  .ant-carousel .slick-dots li.slick-active button {
    box-shadow: $box-shadow-primary;
    background-color: $primary-color-bold;
  }

  &--icon-left {
    display: none !important;
    transition: display 0.3s;
    z-index: 10;
    padding: 5px;
    position: absolute;
    top: 39%;
    border-radius: 0px 45px 45px 0px;
    font-size: 35px;
    opacity: 0.7;

    >svg {
      color: $primary-color-bold;
    }
  }

  &--icon-right {
    @extend .team-carouse--icon-left;
    right: 0;
    border-radius: 45px 0px 0px 45px;
  }
}

.container-ld {
  margin-top: 2%;
  position: relative;
  margin-bottom: 4%;

  .container-ld__content_center {
    max-width: 80%;
    flex: 0 0 80%;
  }

  .skeleton-title {
    &.ant-skeleton-input {
      height: 25px;
    }
  }

  &--col-padding {
    padding: 0 2%;
  }

  &--bg-right {
    background: url("../common/image/team-left-image.png") no-repeat;
    background-size: 300px 330px;
    background-position: 0px 1px;
  }

  &--bg-left {
    background: url("../common/image/team-right-image.png") no-repeat;
    background-size: 300px 330px;
    background-position: right;
  }

  &--rows {
    width: 100%;

    &__col-one {
      margin-top: 20px;
      transition: box-shadow 0.5s;

      color: $black-color;
      height: 100%;
      border-radius: 30px;

      &--item {
        text-align: center;

        &__icon {
          margin: 20px 10px;
          background-color: white;
          box-shadow: $box-shadow;
          font-size: 35px;
          padding: 20px;
          border-radius: 50%;

          >svg {
            color: $primary-color-bold;
          }
        }
      }

      &--content {
        text-align: center;

        &__title.ant-typography {
          color: $black-color;
          font-size: $base-font-title;
          font-weight: 800;
          padding: 0 10px;
        }

        &__description.ant-typography {
          padding: 0px 10px 15px 10px;
          color: $black-color-light;
          font-size: $base-font-size;
          word-break: break-word;
        }
      }
    }

    &__col-two {
      @extend .container-ld--rows__col-one;
      color: $black-color;

      &--item {
        text-align: center;

        &__icon {
          @extend .container-ld--rows__col-one--item__icon;
          background-color: $primary-color-bold;

          >svg {
            color: $white-color;
          }
        }
      }

      &--content {
        text-align: center;

        &__title.ant-typography {
          color: $black-color;
          font-size: $base-font-title;
          font-weight: 800;
          padding: 0 10px;
        }

        &__description.ant-typography {
          @extend .container-ld--rows__col-one--content__description;
        }
      }
    }
  }

  &--title.ant-typography {
    font-size: 30px;
    color: $primary-color-bold;
    text-align: center;
    font-weight: 700;
    margin-top: 50px;
  }

  &--title-description {
    font-size: 15px;
    line-height: 26px;
    color: $black-color-light;
    text-align: center;
    font-weight: 500;
    padding: 0 10px;
    margin-top: 10px;
  }

  &--title {
    @extend .container-ld--title.ant-typography;
    width: 100%;
    margin-bottom: 45px;
  }
}

.layout-web {
  .ld-step {
    width: 80%;
    margin: auto;
    display: block;

    .ant-steps {
      display: none;
    }

    &__col-content {
      width: 100%;
    }

    &__img {
      width: 100%;
    }

    &__content-wrapper {
      height: 100%;
      padding-left: 65px;

      &--title {
        padding-top: 35px;
        font-size: 50px;
        font-weight: 700;
      }

      &--para {
        font-size: 18px;
        color: $black-color-light;
        font-weight: 500;
        display: block;
        margin-bottom: 15px;

        >span {
          margin-right: 5px;
          font-size: 20px;
          color: $primary-color-bold;
        }
      }
    }

    .steps-action {
      text-align: center;
      margin-top: 20px;
    }
  }
}


.ant-progress-inner:not(.ant-progress-circle-gradient) .ant-progress-circle-path {
  stroke: $primary-color-bold !important;
}

.home-item-menu-active {
  color: white !important;
  background-color: $primary-color-bold;
}

div.ant-popover-inner {
  border-radius: 5px;
}

.rp-mobie {
  display: none !important;
}

.rp-web {
  display: flex !important;
}

.buton-col-6 {
  width: 25%;
}

.img-background {
  &--top {
    width: 80%;
    margin: auto;
  }
}

.header {
  &__icon {
    padding: 20px;
    font-size: 25px;
    box-shadow: 1px 0 4px #ddd;
  }

  &__language {
    >ul {
      border-radius: 10px;
      overflow: hidden;
      padding: 0px;
      box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08);

      >li {
        padding: 10px 15px;
        color: $primary-color-bold;
        font-weight: 700;
      }
    }
  }

  &__active-language {
    height: 100%;
    background-color: #95a5ff5c;
  }

  &__web {
    position: relative;

    >img {
      position: absolute;
      left: 50px;
      top: 3px;
    }

    &--display-web {
      display: flex;
    }

    &--display-mobie {
      display: none;

      &--icon>svg {
        position: absolute;
        color: $primary-color-bold;
        font-size: 30px;
        top: 15px;
        right: -40px;
      }
    }

    &--menu {
      >ul {
        position: absolute;
        list-style-type: none;
        right: 15px;
        width: auto;
        top: 13px;
        text-overflow: ellipsis;
        overflow: hidden;

        >li {
          margin-right: 20px;
          float: left;

          >a {
            display: block;
            color: $primary-color-bold;
            text-align: center;
            font-weight: 550;
            font-size: $base-font-size;
            padding: 8px 13px;
            border-radius: 150px;
            border: solid 1px $primary-color-bold;
            text-decoration: none;

            &:hover {
              color: white;
              background-color: $purple-color-bold;
              border: solid 1px $purple-color-bold;
            }
          }

          >p.dropdown-language {
            margin-top: 11px;
            cursor: pointer;
            font-size: $base-font-size;
            color: $primary-color-bold;
            font-weight: 550;

            >span.anticon-global {
              font-size: $base-font-size;
              margin-right: 3px;
            }

            >span.anticon-down {
              margin-left: 3px;
            }
          }
        }
      }

      &--icon {
        margin-right: 7px;
        font-size: $base-font-title;
      }
    }
  }
}

.top-content {
  .ant-carousel .slick-slide {
    line-height: 0;
  }

  &--bg {
    width: 100%;
    height: 500px;
    background: url("../common/image/header-bg.png");
    top: -30%;
    position: absolute;

  }

  .ant-skeleton {
    width: 80%;
    margin: auto;
    margin-top: 5%;
  }

  .ant-skeleton-element {
    display: table;
  }

  .ant-skeleton-element .ant-skeleton-button-lg {
    width: 100%;
    height: 200px;
  }
}

@media (max-width: 1024px) {
  .title-top-right__icon-group-detail--container {
    width: max-content;
  }

  .team-carouse {
    &--icon-left {
      top: 42%;
    }
  }
 .layout-web{
  .ld-step{
    &__content-wrapper {
      &--title {
        font-size: 35px;
        width: 350px;
      }
    }
  }

 }
  .container-ld {
    .container-ld__content_center {
      max-width: 95%;
      flex: 0 0 95%;
    }
  }

  .tech-stack {
    &--title {
      text-align: center;
    }

    &--item-title {
      margin-top: 10px;
    }

    &--col-stack {
      margin: auto;
      width: 30%;
    }

    &--wrapper {
      text-align: center;
    }
  }

  .my-footer {
    &__image {
      width: 70%;
    }
  }
}

@media (max-width: 768px) {
  .title-top-right {
    &__icon-group {
      text-align: center;

      &--item {
        font-size: $base-font-title;
        margin: 0 5px;
      }
    }

    &__icon-group-detail {
      &--container {
        width: max-content;
        margin: auto;
      }

      div &--process-circle {
        margin: 0px 25px 20px 25px;
      }
    }

    &--button {
      text-align: center;
    }

    &__title.ant-typography {
      font-size: 40px;
      text-align: center;
    }

    &__title-wellcome {
      text-align: center;
    }

    &__title-description.ant-typography {
      font-size: $base-font-size;
    }
  }

  .container-ld {
    &--rows {
      &__col-one {
        &--item {
          text-align: center;

          &__icon {
            font-size: 20px;
            padding: 15px;
          }
        }
      }
    }

    .container-ld__content_center {
      max-width: 95%;
      flex: 0 0 95%;
    }
  }

  .header {
    &__web {
      &--menu {
        >ul {
          >li {
            margin-right: 15px;

            >a {
              font-weight: 650;
              padding: 10px 7px;
              font-size: $base-font-size;
            }

            >p.dropdown-language {
              margin-top: 13px;
              cursor: pointer;
              color: $primary-color-bold;
              font-weight: 650;
              font-size: $base-font-size;

              >span.anticon-global {
                font-size: $base-font-size;
                margin-right: 3px;
              }
            }
          }
        }
      }
    }
  }

  .layout-web {
    .ld-step {
      width: 100%;

      &__img {
        width: 80%;
        margin-left: 10%;
      }

      &__content-wrapper {
        height: 100%;
        padding-left: 0;
        text-align: center;

        &--title {
          padding-top: 35px;
          font-size: 50px;
          font-weight: 700;
          text-align: center;
          width: 100%;
        }

        &--para {
          font-size: 16px;
          display: inline-grid;
          margin-bottom: 15px;
          padding: 10px;

          >span {
            margin-right: 5px;
            font-size: 18px;
            color: $primary-color-bold;
          }
        }
      }
    }
  }
}


@media (max-width: 414px) {

  .rp-mobie {
    display: inline-block !important;
  }

  div.back-top-wrapper {
    right: 15px;
    bottom: 25px;
  }

  .tech-stack {
    &--col-stack {
      width: 20%;
      margin-left: 5%;
    }

    div &--col-wrapper {
      display: flex;
      text-align: left;
    }

    &--item-wrapper {
      width: 68%;
    }
  }

  .rp-web {
    display: none !important;
  }

  .title-top-right {
    padding: 30px 10px 0px 10px;

    &__title.ant-typography {
      font-size: 25px;
      font-weight: 720;
      color: $primary-color-bold;
    }

    &__icon-group-detail {
      &--container {
        width: 100%;
        margin: auto;
      }
    }

    &__icon-group-detail {
      &--container {
        text-align: center;
      }
    }
  }

  .layout-web {
    .ld-step {
      .ant-steps-horizontal:not(.ant-steps-label-vertical) .ant-steps-item {
        padding-left: 0;
      }

      &__content-wrapper {
        width: 95%;
        margin: auto;

        &--title {
          padding-top: 35px;
          font-size: 35px;
          font-weight: 700;
        }
      }
    }
  }


  .team-carouse {
    ul.team-carouse--time-line {
      max-height: 250px;
    }

    &--card {
      &__image {
        border-radius: 15px 15px 0px 0px;
      }
    }
  }

  .container-ld {
    &--rows {
      &__col-one {
        &--item {
          text-align: center;

          &__icon {
            font-size: 30px;
            padding: 15px;
          }
        }
      }
    }
  }

  .my-footer {
    &__image {
      width: 50%;
      margin: 0 25%;
    }

    &__col-wrapper {
      text-align: center;

      &--label {
        text-align: center;
      }
    }

    &__icon-wrapper {
      padding-left: 15px;
    }
  }

  .header {
    display: flex;

    &__web {
      width: 100%;
      padding: 0 10px 0 1px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &--display-web {
        display: none;
      }

      >img {
        left: 10px;
      }

      &--display-mobie {
        display: flex;
        position: absolute;
        right: 50px;
      }
    }
  }

  .team-carouse {
    margin-bottom: 40px;

    &--wrapper {
      max-height: 420px;
    }
  }

  .container-ld {
    &--title.ant-typography {
      font-size: 22px;
    }
  }

  .ld-process {
    &--item {
      display: block;
    }

    &--text {
      margin: 10px 15px;
      word-break: initial;
    }
  }
}