.modal-ld {
    &__img {
        width: 30%;
        position: absolute;
        box-shadow: $box-shadow;
        border-radius: 10px;
    }

}


div.ant-modal-header {
    border-radius: 13px 13px 0 0;
}

button.ant-btn {
    border-radius: 13px;

    >span {
        font-size: $base-font-size;
        font-weight: 600;
    }
}

div.ant-modal-content {
    border-radius: 13px 13px;
}