.header {
  height: 64px;
  display: flex;
  &__icon {
    padding: 20px;
    font-size: 25px;
    box-shadow: 1px 0 4px #ddd;
  }
  &__web {
    width: 100%;
    padding: 0 20px 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &--display-web{
      display: flex;
    }
    &--display-mobie{
      display: none;
    }
  }
}

.list {
  &__profile {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
  }
  &__item {
    padding: 5px 0;
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    &--icon {
      margin-right: 10px;
      font-size: 16px;
      font-weight: bold;
    }
  }
}

div.ant-popover-inner {
  border-radius: 5px;
}

@media (max-width: 414px) {
  .header {
    height: 64px;
    display: flex;
    &__icon {
      padding: 20px;
      font-size: 25px;
      box-shadow: 1px 0 4px #ddd;
    }
    &__web {
      width: 100%;
      padding: 0 20px 0 30px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      &--display-web{
        display: none;
      }
      &--display-mobie{
        display: flex;
      }
    }
  }
}
